<main class='content'><div class='row'>
<div class='cell cell--xs well well--l'>
<div class='split mbm'>
<div class='split-item'>
<h1 class='h2 split-cell split-cell--fluid'>My Subscription</h1>
</div>
</div>
<div class='card card--a mbm tac'>
<div class='card-section subscription-details'>
<h2>Individual Month with Trial Enrollment</h2>
<p>
<i class='icn icn--correct mrxs'>
Subscribed
$29.00/month
</i>
</p>

</div>