<div class="container">
<!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Blocipedia: Social, Markdown Wikis</h1>
    </div>
  </div>

  <!-- Jumbotron Header -->
  <div class="row cleafix">
  <div class="col-md-2 column">
  </div>
  <div class="col-md-8 column">
  <div class="jumbotron">
    <h2 class="text-center">Create and Share Markdown Wikis</h2>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
  </div>
</div>
    <div class="col-md-2 column">
  </div>
</div>

  <hr>
  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/one_free.png" alt="">
        <div class="caption">
          <h3>Free Plan</h3>
          <p>Create unlimited public wikis!</p>
          <p>
            <a href="<" class="btn btn-primary">Buy Now!</a> 
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_wallet_membership_48px-128.png" alt="">
        <div class="caption">
          <h3>Premium Plan</h3>
          <p>Create private wikis!</p>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
    </div>

  </div>
</div>